<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"/>
<body>
<nav th:replace="fragments/nav"/>

<div class="container">
  <h2 th:text= "#{users}"> Usuarios</h2>            
 
  <p th:text ="#{users.show.text}">Los usuarios de la aplicación son los siguientes:</p>                                                                                      
  <div th:fragment="tableUsers" id="tableUsers">
  <div class="table-responsive">     
  <table class="table table-hover" >
    <thead>
      <tr>
        <th th:text = "#{name}">Nombre</th>
        <th  th:text = "#{email}">Email</th>
		<th class="col-md-1"> </th>
		<th class="col-md-1"> </th>
		<th class="col-md-1"> </th>
		<th class="col-md-1"> </th>
      </tr>
    </thead>
	<tbody>
	  <tr th:each="user : ${usersList}">
	    <td th:text="${user.name}"> Carlos</td>
	    <td th:text="${user.email}">c@hotmail.com</td>
	    <td>
	    		<div th:if="${!user.equals(currentUser)}">

						<button type="button"
						th:id="${'deleteButton' + user.id}"
						id="deleteButton[[${user.id}]]" class="btn btn-info"
						th:text="#{user.delete}">Borrar usuario</button>
						<script th:inline="javascript">
 						/*<![CDATA[*/
 		 				$( "#deleteButton[[${user.id}]]" ).click(function() {
 		 				$.get( "/admin/delete/[[${user.id}]]", function( data ) {
 		 				var urlUpdate = '/admin/list/update';
 						$("#tableUsers").load(urlUpdate);
 		 				});
 		 				});
 		 			/*]]>*/
 					</script>
	    			
				</div>
		</td>
	  </tr>
	</tbody>
  </table>
  </div>
  </div>
</div>

<footer th:replace="fragments/footer"/>
</body>
</html>