<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"/>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>
<div class="container">
<h2 th:text = "#{signup.message}">Regístrate como usuario</h2>
<form class="form-horizontal" method="post" action="/signup" th:object="${user}">
 <div class="form-group" >
 <label class="control-label col-sm-2" for="email" th:text = "#{email}">Email:</label>
 <div class="col-sm-10">
 <input type="text" class="form-control" name="email"
 th:placeholder="#{email}" required="true" />
 
 <span class="text-danger" th:if="${#fields.hasErrors('email')}"
 th:errors="*{email}"/>
 
 </div>
 </div>
 <div class="form-group">
 
  <label class="control-label col-sm-2" for="name" th:text = "#{name}">Nombre:</label>
 <div class="col-sm-10">
 <input type="text" class="form-control" name="name"
 th:placeholder="#{name}" required="true" />
 
 <span class="text-danger" th:if="${#fields.hasErrors('name')}"
 th:errors="*{name}">
 
 </div>
 </div>
 <div class="form-group">
 <label class="control-label col-sm-2" for="password" th:text = "#{password}">Password:</label>
 <div class="col-sm-10">
 <input type="password" class="form-control" name="password"
 th:placeholder="#{password}" required="true"/>
 <span class="text-danger" th:if="${#fields.hasErrors('password')}"
 th:errors="*{password}"/>
 
 </div>
 </div>
 <div class="form-group" >
 <label class="control-label col-sm-2" for="passwordConfirm" th:text = "#{password.repeat}">Repita
 el Password:</label>
 <div class="col-sm-10">
 <input type="password" class="form-control" name="passwordConfirm"
 th:placeholder="#{password.repeat}" required="true"/>
 
 <span class="text-danger" th:if="${#fields.hasErrors('passwordConfirm')}"
 th:errors="*{passwordConfirm}"/>
 
 </div>
 </div>
 <div class="form-group">
 <div class="col-sm-offset-2 col-sm-10">
 <button type="submit" class="btn btn-primary" th:text= "#{send}">Enviar</button>
 </div>
 </div>
</form>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>